/*************************************** Fonts**********************************/
@import url("https://fonts.googleapis.com/css2?family=Inter:wght@300&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Paytone+One&display=swap");
.container-fluid {
  padding: 0;
}
/*************************************** Navbar styles**************************/
.logo {
  /*Klenty logo*/
  margin-left: 20px;
}
.login {
  /*Login button*/
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen,
    Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
  font-style: normal;
  font-weight: 600;
  font-size: 18px;
  line-height: 25px;
  text-align: center;
  color: #05034e;
  text-decoration: none;
  vertical-align: auto;
}
.tryForFree {
  /*Try for free button*/
  background-color: #5856ce;
  border-radius: 4px;
  height: 39px;
  width: 121px;
  font-family: "Inter", sans-serif;
  font-style: normal;
  font-weight: 600;
  font-size: 12px;
  line-height: 15px;
  letter-spacing: 0.04em;
  text-transform: uppercase;
  color: #ffffff;
}
.tryForFree:hover {
  color: white;
}
/* *****************************Section-1****************************** */
.b1 {
  margin-top: 120px;
  height: 136px;
  width: 497px;
  font-family: "Paytone One", sans-serif;
  font-style: normal;
  font-weight: normal;
  font-size: 48.83px;
  line-height: 68px;
  text-align: center;
  color: #05034e;
}
.b2 {
  width: 873px;
  height: 54px;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen,
    Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
  font-style: normal;
  font-weight: normal;
  font-size: 20px;
  line-height: 27px;
  text-align: center;
  color: #202020;
}
.s1 {
  /*Get started button*/
  width: 161px;
  height: 41px;
  margin-top: 56px;
  background: #5856ce;
  border-radius: 4px;
  font-family: "Inter", sans-serif;
  font-style: normal;
  font-weight: 600;
  font-size: 14px;
  line-height: 17px;
  text-transform: uppercase;
  color: #ffffff;
  display: block;
}
.s1:hover {
  color: #ffffff;
}
.s1-container {
  /*Card container*/
  margin-top: 130px;
}
.ibox {
  /*Card row  */
  width: 40%;
}
.c1 {
  /*Row element container*/
  width: 450px;
}
.c1 > img {
  align-self: center;
}
.title {
  /*Card title*/
  height: 45px;
  margin-left: 20px;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen,
    Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
  font-style: normal;
  font-weight: 800;
  font-size: 20px;
  line-height: 27px;
  display: inline-block;
  color: #05034e;
}
.text {
  /*Card text*/
  width: 401px;
  height: 88px;
  margin-left: 60px;
  margin-top: 20px;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen,
    Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
  font-style: normal;
  font-weight: normal;
  font-size: 17px;
  line-height: 22px;
  color: #202020;
}
/* *****************************Section-2 Carousel****************************** */
.s2-container { /*Section container*/
  background: #f2f2fd;
  padding-top: 80px;
  padding-bottom: 70px;
}
.s2-title {/*Section title*/
  width: 494px;
  height: 41px;
  margin-bottom: 60px;
  font-family: Paytone one;
  font-style: normal;
  font-weight: normal;
  font-size: 31px;
  line-height: 40px;
  text-align: center;
  color: #05034e;
}
.review-card {/*Review card container (Carousel slide)*/
  background: #ffffff;
  width: 70%;
  padding: 60px 150px 0 150px;
  margin-bottom: 50px;
  box-shadow: 12px 12px 30px rgba(0, 0, 0, 0.08);
  border-radius: 10px;
}
.review-text {/*Review text*/
  width: 700px;
  height: 132px;
  margin-top: 80px;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen,
    Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
  font-style: normal;
  font-weight: normal;
  font-size: 24px;
  line-height: 27px;
  text-align: center;
  color: #202020;
}
.p-container {/*Reviewer details container*/
  padding-bottom: 60px;
  margin-top: 50px;
}
.person {/*Reviewer details*/
  margin-left: 20px;
}
.name {/*Reviewer name*/
  margin-bottom: 0;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen,
    Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
  font-style: normal;
  font-weight: 600;
  font-size: 18px;
  line-height: 30px;
  color: #05034e;
}
.designation {/*Reviewer designation*/
  margin-bottom: 0;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen,
    Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 30px;
  color: #05034e;
}
.carousel-control-next {/*Carousel control button - Next*/
  height: 50px;
  width: 50px;
  position: relative;
  left: 1360px;
  top: -390px;
  background: #ffffff;
  box-shadow: 2px 2px 15px rgba(0, 0, 0, 0.1);
  border-radius: 50%;
  opacity: 1;
}
.carousel-control-prev {/*Carousel control button - Prev*/
  height: 50px;
  width: 50px;
  position: relative;
  left:100px;
  top: -340px;
  background: #ffffff;
  box-shadow: 2px 2px 15px rgba(0, 0, 0, 0.1);
  border-radius: 50%;
  opacity: 1;
}
.carousel-control-next-icon,.carousel-control-prev-icon{/*Carousel control button Icon*/
  height: 17px;
  width: 17px;  
}
/* *****************************Section-2 ends****************************** */